source https://api.nuget.org/v3/index.json

storage: none
framework: netcoreapp2.1, netstandard2.0, netstandard2.1
nuget Microsoft.Azure.WebJobs.Extensions.ServiceBus 4.1.2
nuget Microsoft.Azure.WebJobs.Host.Storage 3.0.14
nuget Microsoft.NET.Sdk.Functions 1.0.36